<a class="social-media" rel="me" href="https://tech.lgbt/@Snuggle"><i class="fa-brands fa-mastodon"></i></a>
<a class="social-media" rel="me" href="https://bsky.app/profile/snugg.ie"><i class="fa-brands fa-bluesky"></i></a>
<a class="social-media" rel="me" href="https://www.threads.net/@snugg.ie"><i class="fa-brands fa-threads"></i></a><br>
<a href="https://xn--sr8hvo.ws/previous">←</a>
An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a>
<br>
<a href="https://posts.snugg.ie/feed.xml">RSS</a> - <a href="https://posts.snugg.ie/feed.json">JSON</a>
<br>
<img src="https://snugg.ie/assets/images/sprinkles/vector/sprinkles-christmas.svg" width="50px"/>
