
/* Light mode */
:root {
	--text: #000000;
	--link: #aa5a73;
	--link_visited: #aa5a73;
	--accent1: #333333;
	--accent2: #666666;
	--background: #ffffff;
	--code: #e3e3e3;
	--button-text: #ffffff;
	--blockquote: #fffee0;
	--blockquote-border: #e5d600;
	--aside: #e0f7fa;
	--aside-border: #0097a7;
	--note: #e8f5e9;
	--note-border: #d5e1d6;
	--alert: #ffebee;
	--alert-border: #d32f2f;
	--field: #fffee0;
	--mark: #FFFF99;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--text: #f8f8f2;
		--link: #ffffff;
		--link_visited: #ffffff;
		--accent1: #aa5a73;
		--accent2: #f8f8f2;
		--background: #69153f;
		--code: #44475a;
		--button-text: #282a36;
		--blockquote: #44475a;
		--blockquote-border: #6272a4;
		--aside: #6272a4;
		--aside-border: #7797b7	;
		--note: #3f444a;
		--note-border: #4f545a;
		--alert: #ff5555;
		--alert-border: #ff6e6e;
		--field: #44475a;
		--mark: #FFFF99;
	}
}

nav a[href='/stats/'] { display: none; }
/*.description { display: none; }
.profile_photo { display: none; }
.site-title { display: none; }*/
.post-title a { text-decoration: none; border-radius: 5px; background-color: #ffffff26; padding: 0 .1rem; color: var(--text); transition: color .2s ease,border-bottom .2s ease;  
	text-decoration: none;
	border-bottom: none; }

.post-title a:hover {
		border-bottom-color: transparent;
		color: #f9c3f5;
	}

body {
    font-family: "Source Sans Pro";
	max-width: 50em;
	padding: 0em 1em 0em 1em;
}

img.profile_photo { 
    width: 20%;
    border-radius: 100%;
}
